.root {

	a,
	a:visited,
	a:active {
		text-decoration: none;
		color: #fff;
	}

	a:hover {
		text-decoration: underline;
	}
}

.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2px 5px;
	margin: 0 -5px 2px;

	& input {
		width: calc(100% - 15px);
		margin-left: -4px;
		padding: 0 2px;
	}

	& a {
		margin: 5px 0;
	}

	&:hover {
		background-color: rgba(255, 255, 255, .33);
	}
}

.footer {
	display: flex;
	justify-content: end;
	gap: 5px;
}
