.root {

	a,
	a:visited,
	a:active {
		text-decoration: none;
		color: #fff;
	}

	a:hover {
		text-decoration: underline;
	}

	h2 {
		margin: 0 0 10px;
	}

	label {
		display: flex;
		gap: 5px;
		align-items: center;
		height: 25px;
		cursor: pointer;
	}
}

.row {
	display: flex;
	gap: 5px;
	margin: 2px 0;
}

.controls {
	display: flex;
	justify-content: end;
	gap: 5px;
}
