.root {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	background-color: #000;
	color: #fff;
	padding: 5px 15px;
	height: 40px;
}

.left {
	display: flex;
	align-items: center;
	gap: 10px;
}

.right {
	display: flex;
	align-items: center;
	gap: 10px;
}
