.row {
	display: table-row;

	&:not(.tableHead):hover {
		background-color: #e4eeff;

		& [data-type="side-cell"] {
			background-color: #e4eeff;
		}
	}
}

.group {
	padding: 0 5px;
	font-weight: bold;
	position: sticky;
	left: 0;
	height: var(--base-size);
	outline: 1px solid #e7e7e7;
	z-index: 2;

	& > span {
		position: absolute;
		top: 0;
		left: 5px;
		width: max-content;
		line-height: var(--base-size);
		background-color: #fff;
	}
}

.tableHead {
	position: sticky;
	top: 0;
	background-color: #fff;
	z-index: 10;

	&:first-child {
		z-index: 30;
	}
}

.badge {
	position: absolute;
	top: 0;
	left: 0;
	width: 3px;
	height: 100%;
}

.devready { background-color: var(--color-devready); }
.develop { background-color: var(--color-develop); }
.review { background-color: var(--color-review); }
.testready { background-color: var(--color-testready); }
.testing { background-color: var(--color-testing); }
.testdone { background-color: var(--color-testdone); }
.deploy { background-color: var(--color-deploy); }
.designreview { background-color: var(--color-designreview); }
.awaiting { background-color: var(--color-awaiting); }
.waitingforrelated { background-color: var(--color-waitingforrelated); }
.done { background-color: var(--color-done); }

:global(.expanded) {
	.group {
		& > span {
			width: calc(var(--first-col) - 4px);
		}
	}
}
