:root {
	--base-size: 20px;
	--first-col: 400px;

	--color-blocked: #ff0000;
	--color-devready: #d9d9d9;
	--color-develop: #0044ff;
	--color-review: #ff21d3;
	--color-testready: #fbee3d;
	--color-testing: #ffbf00;
	--color-testdone: #77ff00;
	--color-deploy: #87178f;
	--color-designreview: #17898f;
	--color-awaiting: #767676;
	--color-waitingforrelated: #767676;
	--color-done: #356f03;
}

.scrollable {
	width: 100%;
	max-height: 100%;
	overflow: auto;
	padding-bottom: 16px;
	padding-right: 16px;
}

.table {
	display: table;
	border-collapse: collapse;
	position: relative;
}

.updated {
	position: absolute;
	left: calc(var(--first-col) * var(--expanded) + var(--blocks) * var(--base-size));
	top: 0;
	width: 1px;
	height: 100%;
	background-color: #ffa500;
}

.today {
	position: absolute;
	left: calc(var(--first-col) * var(--expanded) + var(--blocks) * var(--base-size) - 1px);
	top: 0;
	width: 2px;
	height: 100%;
	background-color: #0267d8;
}

.delimiter {
	position: absolute;
	left: calc(var(--first-col) * var(--expanded) + var(--blocks) * var(--base-size) - 1px);
	top: 0;
	width: 2px;
	height: 100%;
	background-color: #000000;
}
